<table border="1" style="width:100%">
  <caption>Manager Information</caption>
  <tr><th>Start Time</th><th>Shown As</th><th>Shown As</th><th>Shown As</th></tr>
  <% @accounts.each do |account| %>
      <tr>
        <td><%= account.u1.FirstName %></td>
        <td><%= account.u1.LastName %></td>
        <td><%= account.u1.MobilePhone %></td>
        <td><%= account.u1.Email %></td>
      </tr>
  <% end %>
</table>

<table border="1" style="width:100%">
  <caption>Manager Information</caption>
  <tr><th>Start Time</th><th>Shown As</th><th>Shown As</th></tr>
  <% @accounts.each do |account| %>
      <tr>
        <td><%= account.u2.FirstName %></td>
        <td><%= account.u2.LastName %></td>
        <td><%= account.u2.Email %></td>
      </tr>
  <% end %>
</table>