<table border="1" style="width:50%">
  <caption>Manager Information</caption>
  <tr><th>First Name</th><th>Last Name</th><th>Phone</th><th>Email</th></tr>
  <% @accounts1.each do |account| %>
      <tr>
        <td><%= account.FirstName %></td>
        <td><%= account.LastName %></td>
        <td><%= account.MobilePhone %></td>
        <td><%= account.Email %></td>

      </tr>
  <% end %>
</table>


<table border="1" style="width:50%">
  <caption>EMEA</caption>
  <tr><th>First Name</th><th>Last Name</th><th>Phone</th>/tr>
  <% @accounts2.each do |account| %>
      <tr>
        
        <td><%= account.ShowAs %></td>
        <td><%= account.StartDateTime %></td>
        <td><%= account.EndDateTime  %></td>

      </tr>
  <% end %>
</table>
