<table border="1" style="width:50%">
  <caption>Manager Information</caption>
  <tr><th>First Name</th><th>Last Name</th><th>Phone</th><th>Email</th></tr>
  <% @accounts1.each do |account| %>
      <tr>
        <td><%= account.FirstName %></td>
        <td><%= account.LastName %></td>
        <td><%= account.MobilePhone %></td>
        <td><%= account.Email %></td>

      </tr>
  <% end %>
</table>
<div style = "width: 50% ">
<div id = "two" style = float: left; width 45%;">
<table border="1" style="width:20%">
  <caption>EMEA</caption>
  <tr><th>Avaiable for tasks</th></tr>
  <% @accounts2.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>
</div>
<div id = "three" style =float: right; width 45%;">
<table border="1" style="width:20%">
  <caption>EMEA</caption>
  <tr><th>Avaiable for tasks</th></tr>
  <% @accounts3.each do |account| %>
      <tr>
        <td><%= account.Owner.Name %></td>
      </tr>
  <% end %>
</table>
</div>
</div>
